# PlatformIO
.pio/
.pioenvs/
.piolibdeps/

# Secrets
include/secrets.h

# VS Code
.vscode/

# Node-RED
nodered/.node-red/

# Windows
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

# macOS
.DS_Store
