# PlatformIO
.pio/
.pioenvs/
.piolibdeps/

# Secrets
include/secrets.h

# VS Code
.vscode/

# Node-RED
nodered/.node-red/
nodered/node_modules/
nodered/.config.nodes.json
nodered/.config.nodes.json.backup
nodered/flows_cred.json
nodered/context/
nodered/lib/
nodered/settings.js

# Mosquitto
mosquitto/passwd

# Windows
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

# macOS
.DS_Store

copy.sh